@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Jakia Norah<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Jakia@gmail.com">Jakia@gmail.com</a>
</address>